<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}Page{% endblock %} &#8226; Trello-Trollé</title>
    <link rel="stylesheet" href="{{ asset('../ressources/css/navstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('../ressources/css/trellostyle.css') }}">
    {% block header_additions %}{% endblock %}
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="{{ route('accueil') }}">Accueil</a>
            </li>
            {% if estConnecte %}
                <li>
                    <a href="{{ route('mes_tableaux') }}">Mes tableaux</a>
                </li>
                <li>
                    <a href="{{ route('detail_utilisateur') }}">
                        Mon compte (<span>{{ loginUtilisateurConnecte }}</span>) <img alt="logout" src="{{ asset('../ressources/img/user.png') }}">
                    </a>
                </li>
                <li>
                    <a href="{{ route('deconnecter') }}">
                        Déconnexion <img alt="logout" src="{{ asset('../ressources/img/logout.png') }}">
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ route('connexion') }}">
                        Connexion <img alt="login" src="{{ asset('../ressources/img/enter.png') }}" >
                    </a>
                </li>
                <li>
                    <a href="{{ route('inscription') }}">
                        Inscription <img alt="S'inscrire" title="S'inscrire" src="{{ asset('../ressources/img/add-user.png') }}" >
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div id="flash-container">
        {% for type in ["success", "info", "warning", "danger"] %}
            {% for message in messagesFlash.lireMessages(type) %}
                <div class="alert alert-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
</header>
<main>
    {% block page_content %}{% endblock %}
</main>

<footer>
    <p>
        Copyright Trello-Trollé Company
    </p>
</footer>
</body>
</html>