{% extends "base.html.twig" %}

{% block page_title %}Détails de {{ utilisateur.login }}{% endblock %}

{% block page_content %}
    <p>
        <form>
            <h3>Détail du compte {{ utilisateur.login }}</h3>
            <p>
                <label for="nom">Nom</label>
                <input id="nom" type="text" disabled value="{{ utilisateur.nom }}">
                <label for="prenom">Prénom</label>
                <input id="prenom" type="text" disabled value="{{ utilisateur.prenom }}">
            </p>
            {% if estConnecte and utilisateur.login == loginUtilisateurConnecte %}
                <div class="btn btn_maj"><a href="{{ route('mise_a_jour_utilisateur', { 'login' : loginUtilisateurConnecte }) }}">Mettre à jour le compte</a></div>
                <div class="btn btn_suppr"><a href="{{ route('supprimer', { 'login' : loginUtilisateurConnecte }) }}">Supprimer le compte</a></div>
            {% endif %}
        </form>
    </p>
{% endblock %}